@import '~node_modules/modern-normalize/modern-normalize.css';
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #757575;
    background-color: #ffffff;
  }
  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    text-decoration: none;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  
    @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
  