<header class="header" >
    <div class="header-section">
        <div class="container header-box">
        <a class="logo" href="/">Mobileapp</a>
        <div class="header-menu">
        <nav>
          <ul class="header-nav list">
            <li><a class="nav-link" href="">HOME</a></li>
            <li><a class="nav-link" href="">FEATURES</a></li>
            <li><a class="nav-link" href="">TEAM</a></li>
        </ul>
        </nav>
        <ul class="mobile-menu">
            <li><a class="nav-link" href="">HOME</a></li>
            <li><a class="nav-link" href="">HOME</a></li>
        </ul>
    </div>
      </div>
      </div>
       
</header>