<div class="mobile-container js-menu-container">
    <button type="button" class="btn-close js-close-menu">
        <svg height="24" width="24">
            <use href="./images/sprite.svg#close"></use>
        </svg>
    </button>
    <nav>
        <ul class="">
            <li><a class="" href="">HOME</a></li>
            <li><a class="" href="">FEATURES</a></li>
            <li><a class="" href="">TEAM</a></li>
        </ul>
    </nav>
    <ul class="">
        <li><a class="" href="">HOME</a></li>
        <li><a class="" href="">HOME</a></li>
    </ul>
</div>