.mobile-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  z-index: 998;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transform: translateX(100%);
  transition: transform 500ms linear;
  background-color: tomato;
}

.mobile-container.is-open {
  transform: translateX(0);
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  border-radius: 50%;
}
